body {
  background: white;
  line-height: 1.45rem;
  color: #444;
}

body.freeze {
  pointer-events: none;
}

fieldset {
  border: none;
}

h1 {
  margin: 0;
  margin-bottom: 2rem;
  text-align: center;
  font-weight: normal;
  line-height: 2.2rem;
}

.section {
  max-width: 900px;
  padding: 4rem;
  margin: 5vh auto 0 auto;
  background: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.section:before {
  content: "";
  width: 100%;
  height: 35vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/*fieldset 1*/
table,
th,
td {
  padding: 12px 0;
}

table {
  border-spacing: 10px;
}

span {
  font-family: "Crimson Pro";
  display: inline-block;
  line-height: 25px;
  font-size: 18px;
}

th:first-child {
  text-align: center;
}

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type="number"],
placeholder {
  width: 100%;
  padding: 12px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type="number"],
textarea input[type="text"],
placeholder {
  text-align: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="radio"]:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #00c3ff;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

/* section 2 */
.rating {
  border: none;
  float: left;
  margin: 0;
  padding: 0;
}

.rating input {
  display: none;
}

.rating label:before {
  margin: 0 20px;
  font-size: 2em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
  padding-left: 30px;
}

.rating .half:before {
  content: "\f089";
  position: absolute;
}

.rating label {
  color: #ddd;
  float: right;
}

.rating input:checked~label,

/* show gold star when clicked */

.rating:not(:checked) label:hover,

/* hover current star */

.rating:not(:checked) label:hover~label {
  color: #00c3ff;
}

/* hover previous stars in list */

.rating input:checked+label:hover,

/* hover current star when changing rating */

.rating input:checked~label:hover,
.rating label:hover~input:checked~label,

/* lighten current selection */

.rating input:checked~label:hover~label {
  color: #00c3ff56;
}

.panel-group {
  padding: 12px;
}

.centerA>th {
  text-align: center;
}

/*sec-3 text shrinking*/
.group {
  position: relative;
  margin: 45px 0;
}

.group .form-input {
  background: none;
  background-color: white;
  color: grey;
  font-size: 18px;
  /* padding: 10px 10px 10px 5px; */
  /* display: block; */
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid grey;
  /* margin: 25px 0; */
}

.group .form-input:focus {
  outline: none;
}

.group .form-input:focus+.form-input-label {
  top: -170px;
  font-size: 12px;
  color: black;
}

.group .form-input-label {
  color: grey;
  font-size: 16px;
  font-weight: normal;
  position: relative;
  pointer-events: none;
  left: 5px;
  top: -100px;
  transition: 300ms ease all;
}

.group .form-input-label.shrink {
  top: -12px;
  font-size: 14px;
  color: black;
}

textarea {
  resize: none;
  padding-left: 10px;
}

[data-step="4"] button.btn {
  display: block;
  margin: 0 auto;
}

/* Buttons */
.btn {
  color: #fff;
  background-color: rgba(109, 83, 212, 0.856);
  padding: 10px 20px;
  font-size: 20px;
  line-height: 1.2rem;
  border-radius: 5px;
  border: 2px solid transparent;
}

.btn:hover,
.btn.hover {
  color: #fff;
  background-color: rgba(109, 83, 212, 1);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  transition: 0.2s;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.buttons .btn {
  margin: 0 120px;
}

.form-submit-button {
  background: black;
  color: white;
}

.form-submit-button:hover {
  background: black;
  color: #fff;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

/* Progress Bar */

.form-progress {
  position: relative;
  display: block;
  margin: 3rem auto;
  width: 100%;
  max-width: 400px;
}

progress {
  display: block;
  position: relative;
  top: 5px;
  left: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #0bcc6c;
  width: 100%;
  height: 5px;
  background: none;
  transition: 1s;
  will-change: contents;
}

progress::-webkit-progress-bar {
  background-color: #ddd;
}

progress::-webkit-progress-value {
  background-color: rgba(0, 172, 193, 1);
  transition: all 0.5s ease-in-out;
}

.form-progress-indicator {
  position: absolute;
  top: -6px;
  left: 0;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: white;
  border: 3px solid #ddd;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  transition-delay: 0.3s;
  will-change: transform;
}

.form-progress-indicator.one {
  left: 0;
}

.form-progress-indicator.two {
  left: 33%;
}

.form-progress-indicator.three {
  left: 66%;
}

.form-progress-indicator.four {
  left: 100%;
}

.form-progress-indicator.active {
  -webkit-animation: bounce 0.5s forwards;
  animation: bounce 0.5s forwards;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  border-color: rgba(0, 172, 193, 1);
}

.animation-container {
  position: relative;
  width: 100%;
  transition: 0.3s;
  will-change: padding;
  overflow: hidden;
}

.form-step {
  position: absolute;
  transition: 1s ease-in-out;
  transition-timing-function: ease-in-out;
  will-change: transform, opacity;
}

.form-step.leaving {
  -webkit-animation: left-and-out 0.5s forwards;
  animation: left-and-out 0.5s forwards;
}

.form-step.waiting {
  -webkit-transform: translateX(400px);
  transform: translateX(400px);
}

.form-step.coming {
  -webkit-animation: right-and-in 0.5s forwards;
  animation: right-and-in 0.5s forwards;
}

@-webkit-keyframes left-and-out {
  100% {
    opacity: 0;
    -webkit-transform: translateX(-400px);
    transform: translateX(-400px);
  }
}

@keyframes left-and-out {
  100% {
    opacity: 0;
    -webkit-transform: translateX(-400px);
    transform: translateX(-400px);
  }
}

@-webkit-keyframes right-and-in {
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes right-and-in {
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes bounce {
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes bounce {
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.hidden {
  display: none;
}

/* Wave Design */
.section:before {
  position: absolute;
  text-align: center;
  background: linear-gradient(60deg,
      rgba(84, 58, 183, 1) 0%,
      rgba(0, 172, 193, 1) 100%);
  color: white;
  z-index: -2;
}

.waves {
  position: absolute;
  width: 100%;
  top: 16vh;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 150px;
  z-index: -1;
}

/* Animation */

.parallax>use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}

.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}

.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}